**/obj/*
**/bin/*
**/TodoApp.MVC/*
*.manifest
/.vs/TodoApp/v16/TestStore/0/164.testlog
/.vs/TodoApp/v16/.suo
/.vs/TodoApp/DesignTimeBuild/.dtbcache.v2
/.vs/TodoApp/config/applicationhost.config
/.vs/TodoApp/v16/TestStore/0/168.testlog
